python-telegram-bot==20.8
pytube==15.0.0
vk-api==11.9.3
requests==2.31.0
urllib3==2.0.4
certifi==2023.7.22
aiohttp==3.8.5
aiosocks==0.1.0
chardet==5.2.0
idna==3.6
tqdm==4.66.1
asyncio==3.4.3
yarl==1.9.2
websockets==11.0.3
pillow==10.0.1
moviepy==1.0.3
mutagen==1.46.0

